.skills-title {
  margin-top: 95px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */

  color: #122232;
  @media (max-width: 990px) {
    margin-bottom: -45px;
  }
  @media (max-width: 784px) {
    margin-bottom: 340px;
  }
}
.block-skills {
  display: flex;
  margin-top: 50px;
  @media (max-width: 990px) {
    flex-flow: column nowrap;
  }
  .skills {
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 50px;
    @media (max-width: 990px) {
      margin-top: 40px;
      width: 50%;
    }
    @media (max-width: 784px) {
      margin-top: 20px;
      width: 100%;
    }

    .skills-info-img-icon {
      width: 29px;
      height: 28px;
    }
    .info-skills {
      padding-left: 28px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;

      color: #000000;
      text-align: center;
      @media (max-width: 990px) {
        text-align: left;
      }
    }
  }
  .sklls-info-two {
    margin-left: 430px;
    @media (max-width: 990px) {
      margin-top: -3px;
      margin-left: 0px;
    }
  }
}

.skills-info-img {
  position: absolute;
  left: 300px;
  margin-left: 38px;
  margin-right: 39px;
  width: 390px;
  @media (max-width: 1200px) {
    width: 300px;
    top: 300px;
  }
  @media (max-width: 990px) {
    position: relative;
    left: 350px;
    top: -300px;
  }
  @media (max-width: 784px) {
    left: 0px;
    top: -570px;
  }
}
